<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="canaryRelic"
      type="CanaryRelic.CanaryConfigurationSection, CanaryRelic"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>

  <canaryRelic>
    <alerts>
      <add name="Warn on POD3 Sync Transaction Job Execution Time over 10 seconds" maximumMetricAverage="10">
        <newRelic accountId="" apiKey="" applicationId="" metricName="Custom/SyncTransactionsJob/ExecutionTime" metricFieldName="average_value" />
        <pagerDuty genericServiceAPIKey="" messageOnAlert="POD3 Sync Transaction Job Execution Time > 10 sec." />
      </add>
      <add name="Warn on POD1/2 Download Transaction Job Execution Time > 4 sec." maximumMetricAverage="4">
        <newRelic accountId="267831" apiKey="" applicationId="" metricName="WebTransaction/DotNetService/BankService/BankService/DownloadTransactions" metricFieldName="average_response_time" />
        <pagerDuty genericServiceAPIKey="" messageOnAlert="POD1/2 Download Transaction Job Execution Time > 4 sec." />
      </add>
      <add name="Warn on POD3 Download Transaction Job Execution Time > 4 sec." maximumMetricAverage="4">
        <newRelic accountId="" apiKey="" applicationId="" metricName="WebTransaction/DotNetService/BankService/BankService/DownloadTransactions" metricFieldName="average_response_time" />
        <pagerDuty genericServiceAPIKey="" messageOnAlert="POD3 Download Transaction Job Execution Time > 4 sec." />
      </add>
    </alerts>
  </canaryRelic>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
